
body{
    background-color: #214475;
}

body {
  cursor: url("Assests/cursorV2-0-01.png"), auto;
}

a{
   cursor: url("Assests/cursorV2-0-02.png"), auto;
    }

    .hero-container{
      background-image: url("Assests/rainagain.gif");
      background-size: cover;
      display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "h h h h h"
    ". . r r r"
    ". . . . ."
    "l l l . ";
  margin: 0 auto;
       width: 500px;
      height: 500px;
      margin: 0 auto;
    }
    #lcloud{
      grid-area:r;
      margin-top: 100px; transform: translate(-170px,50px);

  width: 700px;
}

#rcloud{
width: 400px;
grid-area: l; transform: translate(-500px,100px);
}
.hero-text{
  grid-area:h
}


.icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
   
}

.icon-container{
  width: fit-content;
}


#gmail{
  width: 200px;
}

#instagram{
  width: 200px;
}

#linkedin{
  width: 200px;
}


#gmail:hover{
  width: 220px;
}

#instagram:hover{
  width: 220px;
}

#linkedin:hover{
  width: 220px;
}



.gif{
  width: 500px;
}

h1{
  color: #ceebf2;
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 100px;
  line-height: 30px;
}


h2{
  color: #ceebf2;
  font-family: "ice-cream-standard", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 50px;
}

h3{
   color: #ceebf2;
  font-family: "ice-cream-standard", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 30px;
}

